<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="MySQLConnection" connectionString="Server=localhost;user id=root;password=Sunsql123#;database=wollorpe" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MainJobCronExp" value="0 0 0 1/1 * ? *" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- NLOG CONFIGURATION -->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogLevel="Info" internalLogFile="E:\\Minakshi\\RPE\\Scheduler-log\\NlosgInternal.log" internalLogToConsole="true">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets async="true">
      <target name="file" xsi:type="File" fileName="E:\\Minakshi\\RPE\\Scheduler-log\\Log ${shortdate}.txt" layout="${longdate} ${callsite} ${level}: ${message} ${exception:format=Message,StackTrace} ${stacktrace}" />
    </targets>
    <rules>
      <logger name="*" writeTo="file" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>